<!-- your content here -->
<div class="container topspace">
    <div class="page-desc mt-4">
        <h3 class="text-center"><span class="badge badge-danger">MAJLIS BERTINDAK</span></h3>
        <h1 class="text-center">Majlis Bertindak Kolej Perindu</h1>
        <p class="text-center">Ketahui Majlis Bertindak Kolej Perindu Semasa</p> 
    </div>
</div>
<div class="container pb-3">
    <h2 id="to1" class="mt-5">Unit Multimedia</h2>
    {{#each mb}}
        {{#if multimedia}}
            <div class="biodata mt-5 mb-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="rounded img-fluid mx-auto d-block" src={{gambar}}>
                    </div>
                    <div class="col-sm-6 pt-1">
                        <h5><span class="badge badge-danger">{{jawatan}}</span></h5>
                        <h5>{{nama}}</h5>
                        <p>{{pengenalan}}</p>
                        <p><i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;{{harijadi}}<br>
                            <i class="fab fa-instagram"></i>&nbsp;&nbsp;{{instagram}}<br>
                            <i class="fab fa-whatsapp"></i>&nbsp;&nbsp;{{noTelefon}}</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">{{kataHikmah}}</p>
                            <footer class="blockquote-footer">{{nama}} <cite title="Source Title">{{jawatan}}</cite></footer>
                        </blockquote>
                    </div>

                </div>
            </div>
        {{/if}}
    {{/each}}
    <hr>

    <h2 id="to2" class="mt-5">Unit Majlis &amp; protokol</h2>
    {{#each mb}}
        {{#if majlisProtokol}}
            <div class="biodata mt-5 mb-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="rounded img-fluid mx-auto d-block" src={{gambar}}>
                    </div>
                    <div class="col-sm-6 pt-1">
                        <h5><span class="badge badge-danger">{{jawatan}}</span></h5>
                        <h5>{{nama}}</h5>
                        <p>{{pengenalan}}</p>
                        <p><i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;{{harijadi}}<br>
                            <i class="fab fa-instagram"></i>&nbsp;&nbsp;{{instagram}}<br>
                            <i class="fab fa-whatsapp"></i>&nbsp;&nbsp;{{noTelefon}}</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">{{kataHikmah}}</p>
                            <footer class="blockquote-footer">{{nama}} <cite title="Source Title">{{jawatan}}</cite></footer>
                        </blockquote>
                    </div>

                </div>
            </div>
        {{/if}}
    {{/each}}
    <hr>
    <h2 id="to3" class="mt-5">Unit Perindu Task Force</h2>
    {{#each mb}}
        {{#if taskForce}}
            <div class="biodata mt-5 mb-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="rounded img-fluid mx-auto d-block" src={{gambar}}>
                    </div>
                    <div class="col-sm-6 pt-1">
                        <h5><span class="badge badge-danger">{{jawatan}}</span></h5>
                        <h5>{{nama}}</h5>
                        <p>{{pengenalan}}</p>
                        <p><i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;{{harijadi}}<br>
                            <i class="fab fa-instagram"></i>&nbsp;&nbsp;{{instagram}}<br>
                            <i class="fab fa-whatsapp"></i>&nbsp;&nbsp;{{noTelefon}}</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">{{kataHikmah}}</p>
                            <footer class="blockquote-footer">{{nama}} <cite title="Source Title">{{jawatan}}</cite></footer>
                        </blockquote>
                    </div>

                </div>
            </div>
        {{/if}}
    {{/each}}


    <hr>


    <h2 id="to4" class="mt-5">Unit Rakan Surau</h2>
    {{#each mb}}
        {{#if rakanSurau}}
            <div class="biodata mt-5 mb-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="rounded img-fluid mx-auto d-block" src={{gambar}}>
                    </div>
                    <div class="col-sm-6 pt-1">
                        <h5><span class="badge badge-danger">{{jawatan}}</span></h5>
                        <h5>{{nama}}</h5>
                        <p>{{pengenalan}}</p>
                        <p><i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;{{harijadi}}<br>
                            <i class="fab fa-instagram"></i>&nbsp;&nbsp;{{instagram}}<br>
                            <i class="fab fa-whatsapp"></i>&nbsp;&nbsp;{{noTelefon}}</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">{{kataHikmah}}</p>
                            <footer class="blockquote-footer">{{nama}} <cite title="Source Title">{{jawatan}}</cite></footer>
                        </blockquote>
                    </div>

                </div>
            </div>
        {{/if}}
    {{/each}}

    <hr>
    <h2 id="to5" class="mt-5">Unit Sekretariat</h2>
    {{#each mb}}
        {{#if sekretariat}}
            <div class="biodata mt-5 mb-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="rounded img-fluid mx-auto d-block" src={{gambar}}>
                    </div>
                    <div class="col-sm-6 pt-1">
                        <h5><span class="badge badge-danger">{{jawatan}}</span></h5>
                        <h5>{{nama}}</h5>
                        <p>{{pengenalan}}</p>
                        <p><i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;{{harijadi}}<br>
                            <i class="fab fa-instagram"></i>&nbsp;&nbsp;{{instagram}}<br>
                            <i class="fab fa-whatsapp"></i>&nbsp;&nbsp;{{noTelefon}}</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">{{kataHikmah}}</p>
                            <footer class="blockquote-footer">{{nama}} <cite title="Source Title">{{jawatan}}</cite></footer>
                        </blockquote>
                    </div>

                </div>
            </div>
        {{/if}}
    {{/each}}

    <hr>
    <h2 id="to6" class="mt-5">Unit Keusahawanan</h2>
    {{#each mb}}
        {{#if keusahawanan}}
            <div class="biodata mt-5 mb-5">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="rounded img-fluid mx-auto d-block" src={{gambar}}>
                    </div>
                    <div class="col-sm-6 pt-1">
                        <h5><span class="badge badge-danger">{{jawatan}}</span></h5>
                        <h5>{{nama}}</h5>
                        <p>{{pengenalan}}</p>
                        <p><i class="fas fa-birthday-cake"></i>&nbsp;&nbsp;{{harijadi}}<br>
                            <i class="fab fa-instagram"></i>&nbsp;&nbsp;{{instagram}}<br>
                            <i class="fab fa-whatsapp"></i>&nbsp;&nbsp;{{noTelefon}}</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">{{kataHikmah}}</p>
                            <footer class="blockquote-footer">{{nama}} <cite title="Source Title">{{jawatan}}</cite></footer>
                        </blockquote>
                    </div>

                </div>
            </div>
        {{/if}}
    {{/each}}
</div>

<div class="btn-group dropup stickymenu">
    <button type="button" class="btn btn-secondary dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-align-right"></i>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#to1">Unit Multimedia</a>
        <a class="dropdown-item" href="#to2">Unit Majlis &amp; protokol</a>
        <a class="dropdown-item" href="#to3">Unit Perindu Task Force</a>
        <a class="dropdown-item" href="#to4">Unit Rakan Surau</a>
        <a class="dropdown-item" href="#to5">Unit Sekretariat</a>
        <a class="dropdown-item" href="#to6">Unit Keusahawanan</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#topPage">To Top</a>
    </div>
</div>
