<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3>Jawatankuasa Perwakilan Kolej Perindu</h3>
        </div>
    </div>
    <a href="/admin/jpk/baharu" class="btn btn-primary mt-2 mb-2 btn-block text-white"><i class="fas fa-plus-circle"></i>&nbsp;Tambah Maklumat</a>
    <table data-toggle='table' data-search="true" data-pagination="true" data-show-columns="true">
        <thead>
            <tr>
                <th data-field="nama" data-sortable="true">Nama</th>
                <th data-field="pengenalan" data-sortable="true">Pengenalan Diri</th>
                <th data-field="gambar" data-sortable="true">Gambar</th>
                <th data-field="noTelefon" data-sortable="true">No Telefon</th>
                <th data-field="jawatan" data-sortable="true">Jawatan</th>
                <th data-field="instagram" data-sortable="true">Instagram</th>
                <th data-field="harijadi" data-sortable="true">Tarikh Lahir</th>
                <th data-field="kataHikmah" data-sortable="true">Kata-kata Hikmah</th>
                <th>Tindakan</th>
            </tr>
        </thead>
        <tbody>
            {{#each jpk}}
                <tr>
                    <td>{{nama}}</td>
                    <td>{{pengenalan}}</td>
                    <td><img src={{gambar}} class="img-fluid" alt="jawatankuasa perwakilan kolej perindu (JPK)"></td>
                    <td>{{noTelefon}}</td>
                    <th>{{jawatan}}</th>
                    <td>{{instagram}}</td>
                    <td>{{harijadi}}</td>
                    <td>{{kataHikmah}}</td>
                    <td><a class="btn btn-block btn-warning m-2" href="/admin/jpk/kemaskini/{{_id}}">Kemaskini</a>

                        <form class="m-2" action="/admin/jpk/padam/{{_id}}?newMethod=DELETE" method="post">
                            <button onclick="return confirm('Adakah anda ingin memadam kandungan ini?');" type="submit" class="btn btn-danger btn-block">Padam</button>
                        </form>
                        
                    </td>

                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
